parameters:
    car_images_directory: '%kernel.project_dir%/public/images'


services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Service\AccessDeniedHandler:
        tags:
            - { name: security.access_denied_handler }

    App\Service\SettingsService:
        autowire: true
        autoconfigure: false

    # Use LoginSuccessSubscriber instead of StaffLoginSubscriber
    App\EventSubscriber\LoginSuccessSubscriber:
         tags: ['kernel.event_subscriber']
   
    App\Service\ActivityLogger:
        arguments:
            $em: '@doctrine.orm.entity_manager'
            $security: '@security.helper'
            $requestStack: '@request_stack'
    
    App\EventListener\LoginSuccessListener:
        autoconfigure: true
    

    # Comment out or remove StaffLoginSubscriber if not needed
    # App\EventSubscriber\StaffLoginSubscriber:
        # tags: ['kernel.event_subscriber']